body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.confesion_nueva{

    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    align-items: center;
    justify-content: center;
}

#titulo{

    width: 80%;
}