<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>HTML PARA CONECTAR CON OTROS USUARIOS</h1>

    <h2> Titulo de la confesión : {{ titulo }}</h2>
    <h2> Texto de la confesión : {{ texto }}</h2>

    <ul id="lista-usuarios"></ul>

    
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>

    <script src="../static/js/conectar.js"></script>

</body>
</html>