<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/css/confesion.css">
    <title>Confesión #{{ id }}</title></head>
<body>
    <button aria-label="Volver" id="btnVolver"><i class="fa-solid fa-arrow-left"></i></button>
    <h1 id="titulo" data-id="{{id}}">{{ datos[0][0] }} </h1>
    <h3 id="texto">{{ datos[0][1]}}</h3>
    <h4 id="usuario"> {{ datos[0][2] }}</h4>

<hr>

    <h2> Comentarios de puta mierda </h2>
     
    <label for="comentario_nuevo"> Introduce tu comentario sobre la confesión: </label>
    <textarea name="comentario_nuevo" id="comentario_nuevo" cols="100" rows="10"></textarea>

    <button id="btnAnadir">Añadir Comentario</button>

    
    <div class="comentarios">
        <ul>
            {% for comentario in comments %}

            <li>
                  <strong>{{ comentario[0] }}:</strong> {{ comentario[1] }}
                  <button data-id_coment="{{ comentario[2]}}" class="like-button" aria-label="LikeButton">
                    <i class="fa-solid fa-thumbs-up"></i>
                  </button>{{ comentario[3] }}  
                  
            </li>
              
            {% endfor %}
        </ul>
    </div>

    
    <script src="../static/js/confesion.js"></script>
    
</body>
</html>