<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/inicio_de_sesion.css">
    <title>Document</title>
</head>
<body>
    <h1>Inicio de sesión</h1>


    <label for="textUsuario">Usuario:</label>
    <input type="text" name="usuario" id="textUsuario" required>

    <label for="textContrasena">Contraseña:</label>
    <input type="password" name="contrasena" id="textContrasena" required>

    <button id="botonInicio">Iniciar sesión</button>


    <script src="../static/js/inicio_de_sesion.js"></script>
</body>
</html>