<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/registro.css">
    <title>Document</title>
</head>
<body>
    <h1>Registro</h1>


    <label for="textUsuario">Usuario:</label>
    <input type="text" name="usuario" id="textUsuario" required>

    <label for="textContrasena">Contraseña:</label>
    <input type="password" name="contrasena" id="textContrasena" required>

    <label for="textContrasena2">Contraseña:</label>
    <input type="password" name="contrasena2    " id="textContrasena2" required>

    <button>Registrarse</button>
</body>
</html>